$rem-baseline: 16;

$home-bgcolor: #ffc0cb;

$colorList:
    "Crimson" Crimson,
    "Orange" Orange,
		"Turquoise" Turquoise,
		"Aquamarine" Aquamarine,
		"Puce" #cc8899,
		"Goldenrod" Goldenrod,
		"Pink" Pink,
		"Maroon" Maroon,
		"Khaki" Khaki,
		"Fuchsia" Fuchsia,
		"Yellow" Yellow,
		"Purple" Purple
		;
