/** GENERAL SETTINGS **/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 10px;
}

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
}

header {
  border-bottom: 1px solid #999;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}

header .navbar .logo {
  color: #DB0038;
  font-size: 3rem;
  font-weight: 800;
  text-decoration: none;
}

header .navbar nav {
  font-size: 1.8rem;
}

header .navbar nav a {
  color: #DB0038;
  text-decoration: none;
  font-weight: 600;
}

header .navbar nav a:nth-child(2) {
  margin: 0 3rem;
}

header .navbar nav a:hover {
  color: rgba(219, 0, 56, 0.5);
}

header .navbar .search {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #999;
}

header .navbar .search input {
  padding: 0.4rem;
  border: none;
}

header .navbar .search input:focus {
  outline: none;
  border: none;
}

header .navbar .search button {
  height: 100%;
  width: 3rem;
}

main {
  padding-top: 5rem;
}

main .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .top-section .top-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(219, 0, 56, 0.1);
}

main .top-section .top-left h1 {
  font-size: 3rem;
}

main .top-section .top-left .prep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .top-section .top-left .prep .prep-att {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .top-section .top-left .prep .prep-att span, main .top-section .top-left .prep .prep-att b {
  font-size: 1.5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

main .top-section .top-left .prep .prep-att span .prep-time, main .top-section .top-left .prep .prep-att b .prep-time {
  color: #DB0038;
  font-weight: 700;
  font-size: 2.3rem;
}

main .top-section .top-right {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 66%;
          flex: 2 0 66%;
}

main .top-section .top-right img {
  height: 50rem;
}

main .bottom-section {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

main .bottom-section article {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 64%;
          flex: 2 0 64%;
  font-size: 1.5rem;
}

main .bottom-section article p {
  margin-bottom: 2rem;
  line-height: 2rem;
}

main .bottom-section article .author-time {
  margin-bottom: 1rem;
  color: #999;
}

main .bottom-section article .author-time a {
  text-decoration: none;
  color: #999;
}

main .bottom-section article .ingredients h2 {
  color: #DB0038;
  padding-bottom: 1.5rem;
}

main .bottom-section article .ingredients ul {
  list-style-type: none;
}

main .bottom-section article .ingredients ul li {
  line-height: 3rem;
  font-weight: 600;
}

main .bottom-section article .steps h2 {
  color: #DB0038;
  margin: 2rem 0;
}

main .bottom-section article .steps ol li:before {
  color: #DB0038;
}

main .bottom-section article .steps ol li h3 {
  margin: 1rem 0;
}

main .bottom-section aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}

main .bottom-section aside h2 {
  text-align: center;
  font-size: 2.5rem;
}

main .bottom-section aside section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .bottom-section aside section article {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding-left: 1.4rem;
  margin-top: 2rem;
}

main .bottom-section aside section article a {
  text-decoration: none;
  color: #DB0038;
}

main .bottom-section aside section article a img {
  height: 14rem;
}

main .bottom-section aside section article a h3 {
  font-size: 1.5rem;
}

footer {
  margin-top: 2rem;
  background-color: #DB0038;
}

footer .footer-content {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content .logo-bottom {
  font-size: 3rem;
  font-weight: 800;
}

footer .footer-content .social-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

footer .footer-content .social-share .follow {
  font-size: 1.8rem;
}
/*# sourceMappingURL=styles.css.map */