/** GENERAL SETTINGS **/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

$pink : #DB0038;
$gray : #999;

html{
    font-size: 10px;
}

.container {
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;
}

button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

img {
    width: 100%;
    max-width: 100%;

}

header {

    border-bottom: 1px solid $gray;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8rem;

        .logo {
            color: #DB0038;
            font-size: 3rem;
            font-weight: 800;
            text-decoration: none;
        }

        nav{
            font-size: 1.8rem;
            a{
                color: $pink;
            text-decoration: none;
            font-weight: 600;
                &:nth-child(2){
                margin: 0 3rem ;
                }
                &:hover{
                    color: rgba(219, 0, 56,0.5);
                }
          }        
        } 
        .search{
            height: 3.5rem;
            display: flex;
            align-items: center;
            border: 1px solid $gray;
            input{
                padding: 0.4rem;
                border: none;
                &:focus{
                     outline: none;
                    border:none;
                }
            }

            button{
                height: 100%;
                width: 3rem;
            }
            
        }

}
}

main {
    padding-top: 5rem;

    .top-section {
        display: flex;


        .top-left{
            flex: 1 0 33%;
            padding: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(219, 0, 56,0.1);
            
            h1{
                font-size: 3rem;
            }

            .prep{
                display: flex;
                justify-content: space-evenly;

                .prep-att{
                    display: flex;
                    flex-direction: column;
                    

                    span,b{
                        font-size: 1.5rem;
                        column-gap: 1rem;

                        .prep-time{
                            color: $pink;
                            font-weight: 700;
                            font-size: 2.3rem;
                        }
                    }

                }
            }
        }
        .top-right{
            flex: 2 0 66%;
            img{
                height: 50rem;
            }
        }

    }

    .bottom-section{
        margin-top: 5rem;
        display: flex;
        column-gap: 2.5rem;


        article{
            flex: 2 0 64%;
            font-size: 1.5rem;

            p{
                margin-bottom: 2rem;
                line-height: 2rem;
            }

            .author-time{
                margin-bottom: 1rem;
                color: $gray;
                a{
                    text-decoration: none;
                    color: $gray;
                }
            }

            .ingredients{
                h2{
                    color: $pink;
                    padding-bottom: 1.5rem;
                }
                ul{
                    list-style-type: none;

                    li{
                        line-height: 3rem;
                        font-weight: 600;
                    }

                }

            }

            .steps{
                h2{
                    color: $pink;
                    margin: 2rem 0;
                }

                ol{
                    li{

                        &:before{
                            color: $pink;
                        }    

                        h3{
                            margin: 1rem 0;
                        }

                    
                    }
                }
            }

        }

        aside{
            flex: 1 0 33%; 

            h2{
                text-align: center;
                font-size: 2.5rem;
            }
            section{
                display: flex;
                flex-wrap: wrap;
                

                article{
                    flex: 1 0 50%;
                    padding-left:  1.4rem;
                    margin-top: 2rem;

                
                    a{
                        text-decoration: none;
                        color:$pink;

                        img{
                            height: 14rem;
                        }

                        h3{
                            font-size: 1.5rem;
                        }

                    }
                }

                }
            }
        }

}
    

footer{
    margin-top:2rem;
    background-color: $pink;
    
    .footer-content{
        height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-bottom{
            font-size: 3rem;
            font-weight: 800;
        }

        .social-share{
            display: flex;
            column-gap: 1rem;

            .follow{
                font-size: 1.8rem;
            }
        }

    }

    

}


